.number{
	color: rgb(21,20,181) ;
	font-weight: bold;
}

.functioncall{
	color: red ;
}

.string{
	color: rgb(153,153,255) ;
}

.keyword{
	color: blue;
	font-weight: bold;
}

.argument{
	color: rgb( 177,63,5) ;
}

.comment{
	color: green ;
	font-style:italic;
}

.roxygencomment{
	color: rgb(0,151,255);
}

.formalargs{
	color: rgb(18,182,18);
}

.eqformalargs{
	color: rgb(18,182,18);
}

.assignement{
	color: rgb(55,55,98);
	font-weight: bold;
}

.package{
	color: rgb(150,182,37);
	font-weight: bold;
}

.slot{
	font-style:italic;
}

.symbol{
	color: black ;
}

.symbol_data{
  color: yellow;
  font-style:italic;
  font-weight: bolder;
  background-color: brown;
}

.prompt{
	color: black ;
}

.line{
    color: gray ;
}
